<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Bonjour <%= @user_welcome %></h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">On ne sait pas vraiment ce que tu fais ici... mais bienvenue quand même !</p>

  </section>