<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5"><%=@city.name%></h2>

  <div style="border:1px solid grey;padding:20px;">
  <p>Nom de la ville : <strong><%=@city.name%></strong></p>
  <p>Zip Code : <strong><i> <%=@city.zip_code%></i></strong></p>
  </div>
  </section>